<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :aufgabe %><br>
    <%= f.text_area :aufgabe %>
  </div>
  <div>
  <%= f.label :Kategorie %><br>
   <%= f.collection_select :category_id, Category.all, :id, :name, {selected: @task.category_id, include_hidden: false},  multiple: false%>
  </div>
    <br>
    <%= f.hidden_field :UserEmailAd, :value => current_user.email %>
    <div >
    <%= f.submit(:class=>"btn btn-lg btn-primary") %>
  </div>
<% end %>