<h1>Ihre Taskboards</h1>


<%= link_to 'Neues Taskboard anlegen', new_taskboard_collection_path %>


<% @taskboard_collections.each do |taskboard_collection| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= taskboard_collection.name %></h3>
  </div>
  <div class="panel-body">
    <table class="table">
    <tr><td><%= link_to 'Anzeigen', taskboard_collection %></td></tr>
    <tr><td><%= link_to 'Namen ändern', edit_taskboard_collection_path(taskboard_collection) %></td></tr>
    <tr><td><%= link_to 'Taskboard löschen', taskboard_collection, method: :delete, data: { confirm: 'Sind sie sicher?' } %></td></tr>
    </table>
  </div>
</div>
<% end %>



