<h1>Listing taskboard_collections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @taskboard_collections.each do |taskboard_collection| %>
      <tr>
        <td><%= taskboard_collection.name %><%= taskboard_collection.id %></td>
        <td><%= link_to 'Show', taskboard_collection %></td>
        <td><%= link_to 'Edit', edit_taskboard_collection_path(taskboard_collection) %></td>
        <td><%= link_to 'Destroy', taskboard_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Taskboard collection', new_taskboard_collection_path %>
