<!DOCTYPE html>
<html>
<head>
  <title>Taskboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Navigation ein-/ausblenden</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Taskboard</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Startseite', starts_path %></li>
        <% if user_signed_in? %>

        <% else %>
         <li><%= link_to "Sign up", new_user_registration_path %></li>
        <%end%>
        <% if user_signed_in? %><li><%= link_to 'Taskboards', taskboard_collections_path %></li><%end%>
        
      </ul>
</div><!--/.nav-collapse -->

<div style="">

 


<div id="user_nav">
        <% if user_signed_in? %>
            Signed in as <%= current_user.email %>. Not you?
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
<%= form_for(:user, :url => session_path(:user), html:{class: "form-inline"}) do |f| %>
             <%= f.text_field :email, class: "form-control", :placeholder => "Email" %>
             <%= f.password_field :password, class: "form-control", :placeholder => "Password" %>
            <div class="form-group"> <%= f.check_box :remember_me, class: "form-control" %><%= f.label :remember_me, class: "form-control" %>   </div>
             <%= f.submit 'Sign in', class: "btn btn-default" %>
             <%= link_to "Forgot your password?", new_password_path(:user) %>
          <% end %>
		
       <% end %>
      </div>

  </div> 
   
  </div>
</nav>

<div class="container theme-showcase" role="main">

  <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>


  <div class="well">
    <%= yield %>
  </div>
</div>
</body>
</html>
